.mainSection {
  background-color: #0d1b2a;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
}

.badge {
  background-color: #4da8da; 
  color: white;
  padding: 0.4rem 1rem;
  font-weight: 600;
  border-radius: 30px;
  display: inline-block;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}


.name {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}


.role {
  color: #4da8da; 
  font-size: 1.3rem;
  font-weight: 500;
}


.contactInfo {
  margin-top: 1.5rem;
}

.contactInfo p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #4da8da; 
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


@media (max-width: 576px) {
  .contactInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactInfo p {
    justify-content: center;
  }

  .name {
    font-size: 1.8rem;
  }

  .role {
    font-size: 1rem;
  }

  .badge {
    font-size: 0.85rem;
  }

  .imageWrapper {
    max-width: 300px;
    margin-top: 2rem;
  }
}


.imageWrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #1a1a1a;
  box-shadow: 0 0 20px rgba(77, 168, 218, 0.25); 
}


.profileImage {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  width: 100%;
  height: auto;
}
